body {
  /*font-family: "Feather Bold", sans-serif; !* Use "Feather Bold" as the font family *!*/
  margin: 0;
  overflow-x: hidden;

  font-family: "DIN Next Rounded LT W01 Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
}
